@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-light.woff2") format("woff2");
  src: url("../fonts/ProximaNova-light.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
}

