html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  @include font-proxima(18px, 20px, 400, $black);
}

.visually-hidden,
input[type="checkbox"],
input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.scroll-hidden {
  overflow: hidden;
  height: 100vh;
}

.scroll-hidden.scrollbar {
  padding-right: 15px;
}

.content-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.content-wrapper-small {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page-wrapper {
  max-width: 1701px;
  width: 100%;
  margin: 0 auto;
}

.page-promo {
  width: 100%;
  margin-bottom: 50px;

  background-color: #000000;
}

img.cover,
video.cover {
  object-fit: cover;
}
