$tablet: 1023px;
$mobile: 767px;

$retina-dpi:    144dpi;
$retina-dppx:  1.5dppx;

// Шрифты
$font-proxima: "Proxima Nova", "Arial",  sans-serif;

// Цвета
$black: #0f0f0f;
$white: #ffffff;
$grey: #9e9d9d;
$light-grey: #aeaeae;
$dark-grey: #353535;
$fuchsia: #b42079;
$fuchsia-dark: #8c2463;
$fuchsia-light: #db5ea9;
$violet: #8521c4;

