<div class="cart-content">
  <div class="cart-content__wrapper content-wrapper-small">
   <div class="cart-content__form js-cart-form">
     <form action="#" method="post">
      <include src="src/components/cart-content/cart-items.html"></include>
      <div class="order-registration">
        <include src="src/components/cart-content/order-registration-form.html"></include>
        <include src="src/components/cart-content/order-registration-info.html"></include>
      </div>
     </form>
   </div>
  </div>
</div>
