<section class="cart-items">
  <h2 class="visually-hidden">Товары в корзине</h2>
  <ul class="cart-items__list">
    <li class="cart-items__item js-cart-item">
      <div class="cart-items__info">
        <a href="#" class="cart-items__img">
          <img class="cover" src="img/cart-item-1.png" alt="Стайлер Dyson Airwrap" title="Стайлер Dyson Airwrap" width="135" height="135">
        </a>
        <a href="#" class="cart-items__name">
          <span class="cart-items__title">Стайлер Dyson Airwrap</span>
          <span class="cart-items__text">для волос complete 8 насадок + чехол</span>
        </a>
      </div>
      <div class="cart-items__controls">
        <div class="cart-items__quantity quantity-block">
          <button type="button" class="quantity-block__btn quantity-block__btn--minus" title="Убавить">
            <span class="visually-hidden">Убавить</span>
          </button>
          <label for="quantity-dyson-airwrap">
            <span class="visually-hidden">Количество товара</span>
          </label>
          <input type="text" value="2" name="quantity-dyson-airwrap" id="quantity-dyson-airwrap" data-min="1" data-max="999" title="Количество">
          <button type="button" class="quantity-block__btn quantity-block__btn--plus" title="Добавить">
            <span class="visually-hidden">Добавить</span>
          </button>
        </div>
        <p class="cart-items__cost">
          <span>33 500</span>
          <span> руб.</span>
        </p>
      </div>
      <button type="button" class="cart-items__btn button-close js-remove-btn" title="Удалить из корзины">
        <span class="visually-hidden">Удалить из корзины</span>
      </button>
    </li>
    <li class="cart-items__item js-cart-item">
      <div class="cart-items__info">
        <a href="#" class="cart-items__img">
          <img class="cover" src="img/cart-item-2.png" alt="Стайлер Dyson Airwrap" title="Стайлер Dyson Airwrap" width="135" height="135">
        </a>
        <a href="#" class="cart-items__name">
          <span class="cart-items__title">Стайлер Dyson Airwrap</span>
          <span class="cart-items__text">для волос complete 8 насадок + чехол</span>
        </a>
      </div>
      <div class="cart-items__controls">
        <div class="cart-items__quantity quantity-block">
          <button type="button" class="quantity-block__btn quantity-block__btn--minus" title="Убавить">
            <span class="visually-hidden">Убавить</span>
          </button>
          <label for="quantity-dyson-airwrap-2">
            <span class="visually-hidden">Количество товара</span>
          </label>
          <input type="text" value="1" name="quantity-dyson-airwrap-2" id="quantity-dyson-airwrap-2" data-min="1" data-max="999" title="Количество">
          <button type="button" class="quantity-block__btn quantity-block__btn--plus" title="Добавить">
            <span class="visually-hidden">Добавить</span>
          </button>
        </div>
        <p class="cart-items__cost">
          <span>33 500</span>
          <span> руб.</span>
        </p>
      </div>
      <button type="button" class="cart-items__btn button-close js-remove-btn" title="Удалить из корзины">
        <span class="visually-hidden">Удалить из корзины</span>
      </button>
    </li>
    <li class="cart-items__item js-cart-item">
      <div class="cart-items__info">
        <a href="#" class="cart-items__img">
          <img class="cover" src="img/cart-item-2.png" alt="Стайлер Dyson Airwrap" title="Стайлер Dyson Airwrap" width="135" height="135">
        </a>
        <a href="#" class="cart-items__name">
          <span class="cart-items__title">Стайлер Dyson Airwrap</span>
          <span class="cart-items__text">для волос complete 8 насадок + чехол</span>
        </a>
      </div>
      <div class="cart-items__controls">
        <div class="cart-items__quantity quantity-block">
          <button type="button" class="quantity-block__btn quantity-block__btn--minus" title="Убавить">
            <span class="visually-hidden">Убавить</span>
          </button>
          <label for="quantity-dyson-airwrap-3">
            <span class="visually-hidden">Количество товара</span>
          </label>
          <input type="text" value="1" name="quantity-dyson-airwrap-3" id="quantity-dyson-airwrap-3" data-min="1" data-max="999" title="Количество">
          <button type="button" class="quantity-block__btn quantity-block__btn--plus" title="Добавить">
            <span class="visually-hidden">Добавить</span>
          </button>
        </div>
        <p class="cart-items__cost">
          <span>33 500</span>
          <span> руб.</span>
        </p>
      </div>
      <button type="button" class="cart-items__btn button-close js-remove-btn" title="Удалить из корзины">
        <span class="visually-hidden">Удалить из корзины</span>
      </button>
    </li>
  </ul>
</section>
