<section class="order-registration-info">
  <div class="order-registration-info__item">
    <h2 class="order-registration-info__title">
      <img src="img/wallet.png" alt="Стоимость заказа" width="22" height="21">Стоимость заказа
    </h2>
    <p class="order-registration-info__cost">
      <span>74 400</span>
      <span>руб.</span>
    </p>
  </div>
  <div class="order-registration-info__item">
    <h2 class="order-registration-info__title">
      <img src="img/cube.png" alt="Стоимость заказа" width="22" height="23">Способ и стоимость доставки
    </h2>
    <p class="order-registration-info__text">Курьерская доставка по Москве в пределах МКАД:</p>
    <p class="order-registration-info__cost">
      <span>400</span>
      <span>руб.</span>
    </p>
  </div>
  <div class="order-registration-info__item">
    <h2 class="order-registration-info__title">Итого к оплате:</h2>
    <p class="order-registration-info__cost">
      <span>74 800</span>
      <span>руб.</span>
    </p>
  </div>
  <button type="submit" class="button">Оформить заказ</button>
</section>
