<div class="product-content__description description js-tab-switch">
  <div class="description__controls js-controls">
    <form>
      <div class="description__btn">
        <input type="radio" name="product-description" id="js-product-description-equipment" value="equipment" checked>
        <label for="js-product-description-equipment">Комплектация</label>
      </div>
      <div class="description__btn">
        <input type="radio" name="product-description" id="js-product-description-description" value="description">
        <label for="js-product-description-description">Описание продукта</label>
      </div>
      <div class="description__btn">
        <input type="radio" name="product-description" id="js-product-description-characteristic" value="characteristic">
        <label for="js-product-description-characteristic">Основные характерстики</label>
      </div>
    </form>
  </div>
  <div class="description__content js-switch-item js-product-description-equipment">
    <div class="equipment">
      <ul class="equipment__list">
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-1.png" alt="30-мм цилиндрические насадки Airwrap" title="30-мм цилиндрические насадки Airwrap" width="242" height="242">
          </div>
          <p class="equipment__title">30-мм цилиндрические насадки Airwrap</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-2.png" alt="40-мм цилиндрические насадки Airwrap" title="40-мм цилиндрические насадки Airwrap" width="242" height="242">
          </div>
          <p class="equipment__title">40-мм цилиндрические насадки Airwrap</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-3.png" alt="Жесткая щетка для выпрямления волос" title="Жесткая щетка для выпрямления волос" width="242" height="242">
          </div>
          <p class="equipment__title">Жесткая щетка для выпрямления волос</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-4.png" alt="Круглая щетка для создания объема" title="Круглая щетка для создания объема" width="242" height="242">
          </div>
          <p class="equipment__title">Круглая щетка для создания объема</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-5.png" alt="40-мм цилиндрические насадки Airwrap" title="40-мм цилиндрические насадки Airwrap" width="242" height="242">
          </div>
          <p class="equipment__title">40-мм цилиндрические насадки Airwrap</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-6.png" alt="Чехол для хранения" title="Чехол для хранения" width="242" height="242">
          </div>
          <p class="equipment__title">Чехол для хранения</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-7.png" alt="Мягкая щетка для выпрямления волос" title="Мягкая щетка для выпрямления волос" width="242" height="242">
          </div>
          <p class="equipment__title">Мягкая щетка для выпрямления волос</p>
        </li>
        <li class="equipment__item">
          <div class="equipment__img">
            <img src="img/equipment/equipment-8.png" alt="Мягкая щетка для выпрямления волос" title="3Мягкая щетка для выпрямления волос" width="242" height="242">
          </div>
          <p class="equipment__title">Мягкая щетка для выпрямления волос</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="description__content js-hide js-switch-item js-product-description-description">
    <include src="src/components/product-overview.html"></include>
    <include src="src/components/product-overview.html"></include>
  </div>
  <div class="description__content js-hide js-switch-item js-product-description-characteristic">
    <div class="product-info">
      <div class="product-info__parameters">
    <h2 class="product-info__title">Характеристики</h2>
    <ul class="product-info__list">
      <li class="product-info__item">Создание локонов и волн</li>
      <li class="product-info__item">Разглаживание</li>
      <li class="product-info__item">Высушивание волос</li>
      <li class="product-info__item">Без экстремальных температур</li>
      <li class="product-info__item">Подходит для нескольких пользователей с разными типами волос</li>
    </ul>
  </div>
  <div class="product-info__parameters">
    <h2 class="product-info__title">Комплектация</h2>
    <ul class="product-info__list">
      <li class="product-info__item">Фен для волос complete</li>
      <li class="product-info__item">8 насадок</li>
      <li class="product-info__item">Чехол</li>
    </ul>
  </div>
    </div>

  </div>
</div>
