<div class="presentation__gallery photo-gallery">
  <div class="photo-gallery__top">
    <ul class="photo-gallery__top-list swiper-wrapper">
      <li class="photo-gallery__top-item swiper-slide">
        <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
      </li>
      <li class="photo-gallery__top-item swiper-slide">
        <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
      </li>
      <li class="photo-gallery__top-item swiper-slide">
        <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
      </li>
      <li class="photo-gallery__top-item swiper-slide">
        <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
      </li>
      <li class="photo-gallery__top-item swiper-slide">
        <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
      </li>
      <li class="photo-gallery__top-item swiper-slide">
        <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
      </li>
    </ul>
  </div>
  <div class="photo-gallery__thumbs">
    <ul class="photo-gallery__thumbs-list swiper-wrapper">
      <li class="photo-gallery__thumbs-item swiper-slide">
        <img src="img/slides/photo-small-1.png" alt="photo" title="photo" class="cover" width="120" height="120">
      </li>
      <li class="photo-gallery__thumbs-item swiper-slide">
        <img src="img/slides/photo-small-2.png" alt="photo" title="photo" class="cover" width="120" height="120">
      </li>
      <li class="photo-gallery__thumbs-item swiper-slide">
        <img src="img/slides/photo-small-3.png" alt="photo" title="photo" class="cover" width="120" height="120">
      </li>
      <li class="photo-gallery__thumbs-item swiper-slide">
        <img src="img/slides/photo-small-1.png" alt="photo" title="photo" class="cover" width="120" height="120">
      </li>
      <li class="photo-gallery__thumbs-item swiper-slide">
        <img src="img/slides/photo-small-2.png" alt="photo" title="photo" class="cover" width="120" height="120">
      </li>
      <li class="photo-gallery__thumbs-item swiper-slide">
        <img src="img/slides/photo-small-3.png" alt="photo" title="photo" class="cover" width="120" height="120">
      </li>
    </ul>
  </div>
  <button type="button" class="photo-gallery__nav photo-gallery__nav--prev"></button>
  <button type="button" class="photo-gallery__nav photo-gallery__nav--next"></button>
</div>
