<section class="presentation__info product-info">
  <div class="product-info__top">
    <p class="product-info__article">
      <span>Артикул: </span>
      <span>123456</span>
    </p>
    <p class="product-info__availability">
      <span class="product-info__availability-status product-info__availability-status--on">В наличии</span>
    </p>
  </div>
  <div class="product-info__parameters">
    <h2 class="product-info__title">Характеристики</h2>
    <ul class="product-info__list">
      <li class="product-info__item">Создание локонов и волн</li>
      <li class="product-info__item">Разглаживание</li>
      <li class="product-info__item">Высушивание волос</li>
      <li class="product-info__item">Без экстремальных температур</li>
      <li class="product-info__item">Подходит для нескольких пользователей с разными типами волос</li>
    </ul>
  </div>
  <div class="product-info__parameters">
    <h2 class="product-info__title">Комплектация</h2>
    <ul class="product-info__list">
      <li class="product-info__item">Фен для волос complete</li>
      <li class="product-info__item">8 насадок</li>
      <li class="product-info__item">Чехол</li>
    </ul>
  </div>
  <div class="product-info__price">
    <p class="product-info__old-cost">
      <span>200 900</span>
      <span> руб.</span>
    </p>
    <p class="product-info__cost">
      <span>20 900</span>
      <span> руб.</span>
    </p>
  </div>
  <div class="product-info__btns">
    <button type="button" class="product-info__btn button button--small button js-add-cart-btn">
      <svg width="26" height="23">
        <use xlink:href="#icon-cart-small"></use>
      </svg>
      <span>В корзину</span>
    </button>
    <button type="button" class="product-info__btn button button--small button button--green js-buy-click-btn">
      <svg width="26" height="23">
        <use xlink:href="#icon-cart-small"></use>
      </svg>
      <span>Купить в клик</span>
    </button>
  </div>
</section>
