.footer-info {
  width: 100%;

  background-color: #1c1c1c;
}

.footer-info__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 37px 0 24px;

  border-top: 1px solid #434343;

  @media (max-width: $tablet) {
    padding-top: 24px;
  }

  @media (max-width: $mobile) {
    padding: 0;

    border: none;
  }
}

.footer-info__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 450px;
  width: 100%;
  margin: 0 10% 0 0;
  padding: 4px 0 0;

  @include font-proxima(15px, 20px, 400, #9e9d9d);

  @media (max-width: $tablet) {
    margin-right: 4%;
  }

  @media (max-width: $mobile) {
    order: 1;

    margin: 0;
    padding: 20px 0;

    font-size: 14px;
    line-height: 18px;

    border-top: 1px solid #434343;
  }

  span {
    width: 100%;
  }
}

.footer-info__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-right: 8.7%;

  @media (max-width: $tablet) {
    margin-right: 0;
    margin-left: auto;
  }

  @media (max-width: $mobile) {
    width: 100%;
    padding: 20px 0;
    margin: 0;

    border-top: 1px solid #434343;
  }
}

.footer-info__title {
  width: 100%;
  margin: 0 0 5px;
  padding: 0;

  @include font-proxima(15px, 30px, 400, #9e9d9d);
}

.footer-info__phone {
  @include font-proxima(24px, 1.2, 400, $white);
  text-decoration: none;

  transition-property: opacity;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;

    transition-property: opacity;
    transition-duration: 0.3s;
  }
}

.footer-info__menu {
  @media (max-width: $tablet) {
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;

    border-top: 1px solid #434343;
  }

  @media (max-width: $mobile) {
    order: -1;

    margin-top: 0;
    padding-bottom: 20px;
  }
}

.footer-info__list {
  @include list-reset;
}

.footer-info__link {
  @include font-proxima(15px, 30px, 400, #9e9d9d);
  text-decoration: none;

  transition-property: color, opacity;
  transition-duration: 0.3s;

  @media (max-width: $mobile) {
    color: #8a8a8a;
  }

  &:hover,
  &:focus {
    color: $white;

    transition-property: color;
    transition-duration: 0.3s;
  }

  &:active {
    opacity: 0.3;

    transition-property: opacity;
    transition-duration: 0.3s;
  }
}
