.advantages {
  width: 100%;
  margin-bottom: 75px;
  padding: 23px 0 0 3.7%;
}

.advantages__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  @include list-reset;

  width: 100%;
}

.advantages__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  min-width: 250px;
  width: 28%;
  margin-right: 7%;
  margin-bottom: 20px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.advantages__img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  margin-right: 6%;

  img {
    display: block;
    vertical-align: bottom;
  }
}

.advantages__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.advantages__title {
  display: flex;

  width: 100%;
  margin: 0;
  padding: 0;

  @include font-proxima(20px, 1.2, 400, #0f0f0f);
}

.advantages__text {
  width: 100%;
  margin: 0;
  padding: 0;

  @include font-proxima(36px, 1.2, 600, $fuchsia);
}
