.cards-content {
  width: 100%;

  margin-bottom: 40px;

  @media (max-width: $tablet) {
    margin-bottom: 30px;
  }
}

.cards-content__wrapper {

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 10px;
  }
}

.cards-content__title {
  margin: 0 0 45px 11px;
  padding: 0;

  @include font-proxima(48px, 1.2, 700, #0f0f0f);

  @media (max-width: $tablet) {
    margin-bottom: 30px;

    font-size: 40px;
  }


  @media (max-width: $mobile) {
    margin-left: 0;

    font-size: 36px;
  }
}

.cards-content__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  @include list-reset;

  @media (max-width: $mobile) {
    justify-content: center;
    margin-bottom: 10px;
  }
}

.cards-content__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  width: 25%;
  min-width: 246px;
  max-width: 285px;
  margin-bottom: 33px;

  @media (max-width: $tablet) {
    min-width: 140px;

    margin-bottom: 20px;
  }
}

.cards-content__btn {
  display: none;

  @media(max-width: $mobile) {
    display: block;

    padding: 20px 65px;

    font-size: 21px;
  }
}
