.cards-content {
  width: 100%;

  margin-bottom: 20px;
}

.cards-content__title {
  margin: 0 0 45px 11px;
  padding: 0;

  @include font-proxima(48px, 1.2, 700, #0f0f0f);
}

.cards-content__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  @include list-reset;
}

.cards-content__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  width: 25%;
  min-width: 280px;
  max-width: 285px;
  margin-bottom: 33px;
}
