.categories {
  width: 100%;
  margin-bottom: 49px;
}

.categories__wrapper {
  padding: 0 1.4%;

  @media (max-width: $tablet) {
    margin-bottom: 30px;
    padding: 0 20px;
  }
}

.categories__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  @include list-reset;

  @media (max-width: $mobile) {
    justify-content: center;
  }
}

.categories__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  min-width: 140px;
  width: 25%;

  @media (max-width: $mobile) {
    margin-bottom: 15px;
  }
}

.categories__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  padding: 17px;

  text-decoration: none;

  border: 1px solid transparent;

  transition-property: border-color;
  transition-duration: 0.3s;

  @media (max-width: $tablet) {
    padding: 10px;
  }

  &:hover,
  &:focus {
    border-color: $fuchsia;

    transition-property: border-color;
    transition-duration: 0.3s;

    span {
      color: $fuchsia;

      transition-property: color;
      transition-duration: 0.3s;
    }
  }

  &:active {
    background-color: #cccccc;

    transition-property: background-color;
    transition-duration: 0.3s;
  }

  img {
    display: block;

    max-width: 100%;
    height: auto;
  }

  span {
    margin-top: 38px;

    @include font-proxima(24px, 1.2, 400, #0f0f0f);

    transition-property: color;
    transition-duration: 0.3s;

    @media (max-width: $tablet) {
      font-size: 22px;
    }

    @media (max-width: $mobile) {
      margin-top: 18px;

      font-size: 18px;
    }
  }
}
