.drop-menu {
  position: absolute;
  top: calc(100% + 6px);
  z-index: 100;

  width: 670px;
  padding: 60px 60px 40px;

  background-color: #ffffff;
  border-radius: 2px;

  @media(max-width: $tablet) {
    width: 550px;
    padding: 30px 30px 10px;
  }
}

.drop-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @include list-reset;

  width: 100%;
}

.drop-menu__item {
  width: 226px;
  margin-bottom: 20px;
}

.drop-menu__link {
  width: 100%;

  @include font-proxima(15px, 1.2, 400, #555555);
  text-decoration: none;

  transition-property: color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    color: $fuchsia;

    transition-property: color;
    transition-duration: 0.3s;
  }

  &:active {
    color: $fuchsia-light;

    transition-property: color;
    transition-duration: 0.3s;
  }
}
