.modal-add__wrapper {
  max-width: 760px;
  width: 100%;
}

.modal-add__container {
  padding-left: 7px;
  padding-right: 65px;

  @media (max-width: $mobile) {
    padding: 30px 20px;
  }
}

.modal-add__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  @media (max-width: $mobile) {
    justify-content: center;
  }
}

.modal-add__title {
  text-align: center;

  width: 100%;
  margin: 0;
  padding: 0 0 40px;

  @include font-proxima(24px, 1.2, 700, $black);
}

.modal-add__img {
  margin-right: 3px;

  @media (max-width: $mobile) {
    margin: 0;
  }
}

.modal-add__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;

  padding-right: 15px;

  @media (max-width: $mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 20px;
  }
}

.modal-add__article,
.modal-add__number {
  margin: 0;
  padding: 0;

  @include font-proxima(12px, 1.2, 400, #c5c5c5);
  letter-spacing: 0.0025;
}

.modal-add__name,
.modal-add__price {
  margin: 0;
  padding: 0;

  @include font-proxima(24px, 1.2, 400, $black);
}

.modal-add__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  margin-top: 35px;
  padding: 30px 0 10px 46px;

  border-top: 1px solid #ebebeb;

  @media (max-width: $mobile) {
    flex-wrap: wrap;

    padding: 0;
  }
}

.modal-add__btn {
  margin-bottom: 15px;
}
