.order-made {
  width: 100%;
}

.order-made__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 5.7% 5% 3.25%;

  @media(max-width: $tablet) {
    justify-content: center;
  }

  @media(max-width: $mobile) {
    padding: 12.5%;
  }
}

.order-made__img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 171px;
  height: 194px;
  margin: 50px 12.8% 0 0;

  @media(max-width: $tablet) {
    margin: 0 5% 0 0;
  }

  @media(max-width: $mobile) {
    width: 80px;
    height: 90px;
    margin: 0 0 35px;
  }

  img {
    display: block;

    width: 100%;
    height: auto;
  }
}

.order-made__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  max-width: 555px;
  width: 100%;

  @media(max-width: $tablet) {
    width: 70%;
  }

  @media(max-width: $mobile) {
    align-items: center;
    width: 100%;
  }
}

.order-made__title {
  margin: 0 0 40px;
  padding: 0;

  @include font-proxima(48px, 1.2, 700, $black);
  letter-spacing: 0.01em;

  @media(max-width: $mobile) {
    font-size: 36px;
    line-height: 30px;
    text-align: center;

    margin-bottom: 25px;
  }
}

.order-made__info {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  margin: 0 0 40px;
  padding: 0;

  @include font-proxima(24px, 1.2, 400, $fuchsia);

  @media(max-width: $mobile) {
    align-items: center;

    margin-bottom: 25px;
  }
}

.order-made__number {
  margin: 4px 0;

  font-size: 36px;
  text-transform: uppercase;

  @media(max-width: $mobile) {
    font-size: 30px;
  }
}

.order-made__text {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  margin: 0 0 36px;
  padding: 0;

  @include font-proxima(18px, 20px, 400, $black);

  @media(max-width: $mobile) {
    align-items: center;
    text-align: center;
  }
}

.order-made__link {
  display: inline-block;

  margin-bottom: 20px;

  @include font-proxima(18px, 30px, 700, $fuchsia);

  transition-property: color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    color: $fuchsia-dark;
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.3s;
  }

  &:active {
    color: $fuchsia-light;

    transition-property: color;
    transition-duration: 0.3s;
  }
}
