.pagination {
  width: 100%;

  padding: 50px 0 15px;

  background-color: $white;

  &--big {
    padding-bottom: 26px;
  }

  @media(max-width: $mobile) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.pagination__wrapper {
  @media(max-width: $mobile) {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 0 0 20px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      height: 100%;
      width: 50px;

      background: linear-gradient(-270deg, #f6f6f6 5%, rgba(255, 255, 255, 0) 100%);

      content: "";
    }
  }
}

.pagination__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  @include list-reset;

  @media(max-width: $mobile) {
    flex-wrap: nowrap;

    margin-right: 50px;

    overflow-x: auto;
  }
}

.pagination__item {
  margin-right: 19px;

  &:last-child {
    .pagination__link {
      cursor: default;

      &:hover,
      &:focus,
      &:active {
        color: #888787;
      }

      &::after {
        display: none;
      }
    }
  }

  @media(max-width: $mobile) {
    padding: 25px 0;
  }
}

.pagination__link {
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  @include font-proxima(14px, 1.2, 400, #888787);
  text-decoration: none;

  transition-property: color;
  transition-duration: 0.3s;

  @media(max-width: $tablet) {
    white-space: nowrap;
  }

  &::after {
    margin-left: 14px;

    content: "/";
  }

  &:hover,
  &:focus {
    color: $fuchsia-dark;

    transition-property: color;
    transition-duration: 0.3s;
  }

  &:active {
    color: $fuchsia-light;

    transition-property: color;
    transition-duration: 0.3s;
  }
}
