<section class="cards-content content-wrapper">
  <h2 class="cards-content__title visually-hidden">Продукция</h2>
  <ul class="cards-content__list">
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-1.png" alt="Dyson Airwrap Complete" title="Dyson Airwrap Complete" width="315" height="287">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Стайлер</a>
          <a href="#" class="card__title">Dyson Airwrap Complete</a>
        </div>
        <div class="card__price">
          <span class="card__old-cost">129 900</span>
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-2.png" alt="Dyson Supersonic" title="Dyson Supersonic" width="284" height="284">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Фeн</a>
          <a href="#" class="card__title">Dyson Supersonic</a>
        </div>
        <div class="card__price">
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-3.png" alt="Dyson Complete Supersonic" title="Dyson Complete Supersonic" width="242" height="242">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Стайлер</a>
          <a href="#" class="card__title">Dyson Complete Supersonic</a>
        </div>
        <div class="card__price">
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-4.png" alt="Dyson Airwrap Complete" title="Dyson Airwrap Complete" width="329" height="329">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Фен</a>
          <a href="#" class="card__title">Dyson Airwrap Complete</a>
        </div>
        <div class="card__price">
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-1.png" alt="Dyson Airwrap Complete" title="Dyson Airwrap Complete" width="315" height="287">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Стайлер</a>
          <a href="#" class="card__title">Dyson Airwrap Complete</a>
        </div>
        <div class="card__price">
          <span class="card__old-cost">129 900</span>
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-2.png" alt="Dyson Supersonic" title="Dyson Supersonic" width="284" height="284">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Фeн</a>
          <a href="#" class="card__title">Dyson Supersonic</a>
        </div>
        <div class="card__price">
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-3.png" alt="Dyson Complete Supersonic" title="Dyson Complete Supersonic" width="242" height="242">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Стайлер</a>
          <a href="#" class="card__title">Dyson Complete Supersonic</a>
        </div>
        <div class="card__price">
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
    <li class="cards-content__item">
      <div class="cards-content__card card">
        <a href="#" class="card__img">
          <img src="img/product-4.png" alt="Dyson Airwrap Complete" title="Dyson Airwrap Complete" width="329" height="329">
        </a>
        <div class="card__info">
          <a href="#" class="card__category">Фен</a>
          <a href="#" class="card__title">Dyson Airwrap Complete</a>
        </div>
        <div class="card__price">
          <span class="card__cost">29900 ₽</span>
          <button type="button" class="card__cart js-add-cart-btn" title="Добавить в корзину">
            <svg width="25" height="27">
              <use xlink:href="#icon-cart"></use>
            </svg>
            <span class="visually-hidden">Добавить в корзину</span>
          </button>
        </div>
        <a href="#" class="card__detail">Подробнее</a>
      </div>
    </li>
  </ul>
  <include src="src/components/page-pagination.html"></include>
</section>
