.main-nav {
  width: 100%;

  background-color: $white;

  &--footer {
    background-color: #1c1c1c;
  }

  &--dark {
    background-color: #000000;

    .main-nav__link {
      color: $white;

      &::after {
        background-color: $white;
      }
    }
  }

  @media (max-width: $mobile) {
    display: none;

    &--footer {
      display: block;

      .main-nav__list {
        flex-direction: column;

        padding: 20px 0;
      }

      .main-nav__item {
        padding: 0;
        width: 100%;
      }

      .main-nav__link {
        display: inline-block;
        vertical-align: middle;

        padding: 20px 5px;
        margin-bottom: 0;

        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

.main-nav__wrapper {
  @media (max-width: $tablet) {
    padding: 0 15px;
  }
}

.main-nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  @include list-reset;
}

.main-nav__item {
  position: relative;

  padding: 24px 0 19px;

  @media (max-width: $tablet) {
    padding: 2.5% 0;
  }

  &:last-child {
    .main-nav__link::after {
      display: none;
    }
  }
}

.main-nav__link {
  position: relative;

  padding: 0 48px;
  margin-bottom: 15px;

  @include font-proxima(20px, 1.2px, 400, #606060);
  text-decoration: none;

  transition-property: color;
  transition-duration: 0.3s;

  @media (max-width: $tablet) {
    padding: 0 20px;
  }

  &:hover,
  &:focus {
    color: $fuchsia-light;

    transition-property: color;
    transition-duration: 0.3s;
  }

  &:active {
    color: $fuchsia-dark;

    transition-property: color;
    transition-duration: 0.3s;
  }

  &::after {
    position: absolute;
    right: 0;
    top: 5px;

    width: 1px;
    height: 13px;

    background-color: #606060;

    content: "";


    @media (max-width: $mobile) {
      display: none;
    }
  }
}
