<div class="drop-menu js-hide js-drop-menu">
  <ul class="drop-menu__list">
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Стайлер для волос Dyson Airwrap™</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Стайлер для волос Dyson Airwrap™</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Фен для волос Dyson Supersonic™</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Фен для волос Dyson Supersonic™</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Фен для волос Dyson Supersonic™ профессиональная версия</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Фен для волос Dyson Supersonic™ профессиональная версия</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Насадки для фена и стайлера</a>
    </li>
    <li class="drop-menu__item">
      <a href="#" class="drop-menu__link">Насадки для фена и стайлера</a>
    </li>
  </ul>
</div>
