<section class="modal modal-buy-click js-modal-buy-click js-modal js-hide">
  <div class="modal__wrapper modal-buy-click__wrapper">
    <button class="modal__close button-close js-close-btn" type="button" title="Закрыть" tabindex="1">
      <span class="visually-hidden">Закрыть</span>
    </button>
    <div class="modal__container modal-buy-click__container">
      <div class="modal__content modal-buy-click__content">
        <h2 class="modal-buy-click__title">Купить в 1 клик</h2>
        <div class="modal-buy-click__content">
          <div class="modal-buy-click__slider">
            <div class="photo-gallery">
              <div class="photo-gallery__top">
                <ul class="photo-gallery__top-list swiper-wrapper">
                  <li class="photo-gallery__top-item swiper-slide">
                    <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
                  </li>
                  <li class="photo-gallery__top-item swiper-slide">
                    <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
                  </li>
                  <li class="photo-gallery__top-item swiper-slide">
                    <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
                  </li>
                  <li class="photo-gallery__top-item swiper-slide">
                    <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
                  </li>
                  <li class="photo-gallery__top-item swiper-slide">
                    <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
                  </li>
                  <li class="photo-gallery__top-item swiper-slide">
                    <img class="cover" src="img/slides/photo-big-1.png" alt="photo" title="photo" width="572" height="572">
                  </li>
                </ul>
              </div>
              <div class="photo-gallery__thumbs">
                <ul class="photo-gallery__thumbs-list swiper-wrapper">
                  <li class="photo-gallery__thumbs-item swiper-slide">
                    <img src="img/slides/photo-small-1.png" alt="photo" title="photo" class="cover" width="120" height="120">
                  </li>
                  <li class="photo-gallery__thumbs-item swiper-slide">
                    <img src="img/slides/photo-small-2.png" alt="photo" title="photo" class="cover" width="120" height="120">
                  </li>
                  <li class="photo-gallery__thumbs-item swiper-slide">
                    <img src="img/slides/photo-small-3.png" alt="photo" title="photo" class="cover" width="120" height="120">
                  </li>
                  <li class="photo-gallery__thumbs-item swiper-slide">
                    <img src="img/slides/photo-small-1.png" alt="photo" title="photo" class="cover" width="120" height="120">
                  </li>
                  <li class="photo-gallery__thumbs-item swiper-slide">
                    <img src="img/slides/photo-small-2.png" alt="photo" title="photo" class="cover" width="120" height="120">
                  </li>
                  <li class="photo-gallery__thumbs-item swiper-slide">
                    <img src="img/slides/photo-small-3.png" alt="photo" title="photo" class="cover" width="120" height="120">
                  </li>
                </ul>
              </div>
              <button type="button" class="photo-gallery__nav photo-gallery__nav--prev"></button>
              <button type="button" class="photo-gallery__nav photo-gallery__nav--next"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
