<section class="modal modal-add js-modal-add js-modal js-hide">
  <div class="modal__wrapper modal-add__wrapper">
    <button class="modal__close button-close js-close-btn" type="button" title="Закрыть" tabindex="1">
      <span class="visually-hidden">Закрыть</span>
    </button>
    <div class="modal__container modal-add__container">
      <div class="modal__content modal-add__content">
        <h2 class="modal-add__title">Товар добавлен в корзину</h2>
        <div class="modal-add__img">
          <img src="img/product-add.png" alt="Фен Dyson Supersonic" title="Фен Dyson Supersonic" width="176" height="177">
        </div>
        <div class="modal-add__info">
          <div class="modal-add__left">
            <p class="modal-add__article">Артикул: <span>123456</span></p>
            <p class="modal-add__name">Фен Dyson Supersonic</p>
          </div>
          <div class="modal-add__right">
            <p class="modal-add__number">Количество: <span>2</span> шт</p>
            <p class="modal-add__price"><span>29 900</span> руб.</p>
          </div>
        </div>
        <div class="modal-add__links">
          <button type="button" class="modal-add__btn button button--light js-close-btn" tabindex="1">Вернуться к покупкам</button>
          <a href="#" class="modal-add__btn button" tabindex="1">Оформить заказ</a>
        </div>
      </div>
    </div>
  </div>
</section>
