<nav class="main-nav">
  <div class="main-nav__wrapper content-wrapper">
    <ul class="main-nav__list">
      <li class="main-nav__item js-drop-item">
        <a href="#" class="main-nav__link">Фены</a>
        <include src="src/components/drop-menu/drop-menu.html"></include>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Стайлер</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Доставка и оплата</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link">Гарантия</a>
      </li>
      <li class="main-nav__item js-drop-item">
        <a href="#" class="main-nav__link">Контакты</a>
        <include src="src/components/drop-menu/drop-menu.html"></include>
      </li>
    </ul>
  </div>
</nav>
