<header class="page-header page-header--dark">
  <div class="page-header__top content-wrapper">
    <div class="page-header__item page-header__item--logo">
      <a href="#" class="page-header__logo">Dysons</a>
    </div>
    <div class="page-header__item page-header__item--contacts">
      <a href="tel:+74957732285" class="page-header__phone">+7 (495) 773 22 85</a>
    </div>
    <div class="page-header__item page-header__item--links">
      <a href="#" class="page-header__link">Регистрация продукта</a>
    </div>
    <div class="page-header__item page-header__item--cart">
      <a href="cart.html" class="page-header__cart">
        <p>Корзина</p>
        <svg width="40" height="45">
          <use xlink:href="#icon-cart"></use>
        </svg>
        <span>12</span>
      </a>
    </div>
  </div>
  <div class="page-header__bottom">
    <include src="src/components/header/main-nav-dark.html"></include>
  </div>
</header>
