<section class="advantages">
  <div class="advantages__wrapper content-wrapper">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/2hour.svg" alt="Доставка по Москве 2 часа" title="Доставка по Москве 2 часа" width="86" height="68">
        </div>
        <div class="advantages__info">
          <h3 class="advantages__title">Доставка по Москве</h3>
          <p class="advantages__text">2 часа</p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/2days.svg" alt="Доставка по России 2 дня" title="Доставка по России 2 дня" width="82" height="81">
        </div>
        <div class="advantages__info">
          <h3 class="advantages__title">Доставка по России</h3>
          <p class="advantages__text">2 дня</p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <img src="img/2year.svg" alt="Гарантия 2 года" title="Гарантия 2 года" width="63" height="78">
        </div>
        <div class="advantages__info">
          <h3 class="advantages__title">Гарантия</h3>
          <p class="advantages__text">2 года</p>
        </div>
      </li>
    </ul>
  </div>
</section>
