<div class="content-header__filter catalog-filter">
  <form>
    <div class="catalog-filter__container">
      <div class="catalog-filter__item form-select">
        <label class="form-select__title" for="catalog-filter-sort">Сортировать:</label>
        <div class="form-select__item">
          <button class="form-select__btn catalog-filter__sort" type="button" id="catalog-filter-sort" name="catalog-filter-sort-btn">Сначала дорогие</button>
          <ul class="form-select__options">
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-sort" value="expensive" id="catalog-filter-expensive" checked>
              <label for="catalog-filter-expensive" tabindex="0">Сначала дорогие</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-sort" value="cheapest" id="catalog-filter-cheapest">
              <label for="catalog-filter-cheapest" tabindex="0">Сначала дешевые</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-sort" value="popular" id="catalog-filter-popular">
              <label for="catalog-filter-popular" tabindex="0">Сначала популярные</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-sort" value="new" id="catalog-filter-new">
              <label for="catalog-filter-new" tabindex="0">Сначала новинки</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="catalog-filter__item form-select">
        <label class="form-select__title" for="catalog-filter-show">Показывать на странице:</label>
        <div class="form-select__item">
          <button class="form-select__btn catalog-filter__show" type="button" id="catalog-filter-show" name="catalog-filter-show-btn">8</button>
          <ul class="form-select__options">
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="8" id="catalog-filter-8">
              <label for="catalog-filter-8" tabindex="0">8</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="12" id="catalog-filter-12" checked>
              <label for="catalog-filter-12" tabindex="0">12</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="16" id="catalog-filter-16">
              <label for="catalog-filter-16" tabindex="0">16</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="20" id="catalog-filter-new-20">
              <label for="catalog-filter-new-20" tabindex="0">20</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="24" id="catalog-filter-new-24">
              <label for="catalog-filter-new-24" tabindex="0">24</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="28" id="catalog-filter-new-28">
              <label for="catalog-filter-new-28" tabindex="0">28</label>
            </li>
            <li class="form-select__option">
              <input type="radio" name="catalog-filter-show" value="32" id="catalog-filter-new-32">
              <label for="catalog-filter-new-32" tabindex="0">32</label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
