<section class="categories content-wrapper">
  <h2 class="visually-hidden">Категории товаров</h2>
  <ul class="categories__list">
    <li class="categories__item">
      <a href="#" class="categories__link">
        <svg width="63" height="102">
          <use xlink:href="#icon-dryer"></use>
        </svg>
        <span>Фены</span>
      </a>
    </li>
    <li class="categories__item">
      <a href="#" class="categories__link">
        <svg width="52" height="103">
          <use xlink:href="#icon-styler"></use>
        </svg>
        <span>Стайлеры</span>
      </a>
    </li>
    <li class="categories__item">
      <a href="#" class="categories__link">
        <svg width="90" height="90">
          <use xlink:href="#icon-vacuum"></use>
        </svg>
        <span>Пылесосы</span>
      </a>
    </li>
    <li class="categories__item">
      <a href="#" class="categories__link">
        <svg width="66" height="109">
          <use xlink:href="#icon-aircleener"></use>
        </svg>
        <span>Увлажнители</span>
      </a>
    </li>
  </ul>
</section>
