<section class="categories">
  <div class="categories__wrapper content-wrapper">
    <h2 class="visually-hidden">Категории товаров</h2>
    <ul class="categories__list">
      <li class="categories__item">
        <a href="#" class="categories__link">
          <img src="img/icon-dryer.svg" alt="Фены" title="Фены" width="63" height="102">
          <span>Фены</span>
        </a>
      </li>
      <li class="categories__item">
        <a href="#" class="categories__link">
          <img src="img/icon-styler.svg" alt="Стайлеры" title="Стайлеры" width="52" height="103">
          <span>Стайлеры</span>
        </a>
      </li>
      <li class="categories__item">
        <a href="#" class="categories__link">
          <img src="img/icon-vacuum.svg" alt="Пылесосы" title="Пылесосы" width="90" height="90">
          <span>Пылесосы</span>
        </a>
      </li>
      <li class="categories__item">
        <a href="#" class="categories__link">
          <img src="img/icon-aircleener.svg" alt="Увлажнители" title="Увлажнители" width="66" height="109">
          <span>Увлажнители</span>
        </a>
      </li>
    </ul>
  </div>
</section>
