<secrion class="order-made">
  <div class="order-made__wrapper content-wrapper-small">
    <div class="order-made__img">
      <img src="img/order-made.png" alt="Ваш заказ оформлен" width="171" height="194">
    </div>
    <div class="order-made__content">
      <h1 class="order-made__title">Ваш заказ оформлен!</h1>
      <p class="order-made__info">
        <span class="order-made__info-title">Номер заказа:</span>
        <span class="order-made__number">ds28012020748</span>
      </p>
      <p class="order-made__text">
        <span>В течение 10 минут с вами свяжется менеджер для подтверждения заказа.</span>
        <span>Спасибо!</span>
      </p>
      <a href="catalog.html" class="order-made__link">Вернуться к покупкам</a>
    </div>
  </div>
</secrion>
