<div class="page-pagination">
  <div class="page-pagination__wrapper">
    <div class="page-pagination__item page-pagination__item--prev">
      <button class="page-pagination__btn button-nav button-nav--light button-nav--prev" type="button" id="page-pagination-prev" name="page-pagination-prev" title="Предыдущая страница"></button>
      <label class="page-pagination__title" for="page-pagination-prev">Предыдущая страница</label>
    </div>
    <div class="page-pagination__item page-pagination__item--next">
      <button class="page-pagination__btn button-nav button-nav--light button-nav--next" type="button" id="page-pagination-next" name="page-pagination-prev" title="Следубщая страница"></button>
      <label class="page-pagination__title" for="page-pagination-next">Следующая страница</label>
    </div>
  </div>
</div>
