<section class="product-overview ">
  <div class="product-overview__wrapper content-wrapper">
    <div class="product-overview__media">
      <div class="product-overview__video">
        <div class="product-overview__video-poster js-video-poster" tabindex="0">
          <img src="img/video-poster.png" alt="Обзор фена Dyson Supersonic" title="Обзор фена Dyson Supersonic" width="490" height="296">
          <button class="product-overview__media-btn" type="button" title="Смотреть видео">
            <span class="visually-hidden">Смотреть видео</span>
          </button>
        </div>
        <iframe src="https://www.youtube-nocookie.com/embed/_xTOC86sqZc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="product-overview__info">
      <h2 class="product-overview__title">
        <span>Обзор фена Dyson Supersonic™</span>
        <span>Hair Dryer Limited Edition Styling Set</span>
      </h2>
      <p class="product-overview__text">Designed for controlled styling, this easy-handling hair dryer features an intelligent heat themistor to prevent heat damage. The V9 digital motor combined with Air Multiplier™ technology multiplies the air by three times</p>
    </div>
  </div>
</section>
