<div class="promo-slider">
  <ul class="promo-slider__list swiper-wrapper">
    <li class="promo-slider__item swiper-slide">
      <div class="promo-slider__img">
        <img class="cover" src="img/slide.png" alt="Фен для волос Dyson Supersonic">
      </div>
      <div class="promo-slider__content content-wrapper">
        <a href="#" class="promo-slider__category">Фен для волос</a>
        <a href="#" class="promo-slider__title">Dyson Supersonic™</a>
        <p class="promo-slider__stock">По акции с чехлом</p>
        <ul class="promo-slider__advantages">
          <li>Быстрое высушивание волос</li>
          <li>Без экстремальных температур</li>
          <li>Разработан для различных типов волос</li>
        </ul>
        <div class="promo-slider__price">
          <p class="promo-slider__cost">29 900 ₽</p>
          <a href="#" class="promo-slider__btn button">Купить со скидкой</a>
        </div>
      </div>
    </li>
    <li class="promo-slider__item swiper-slide">
      <div class="promo-slider__img">
        <img class="cover" src="img/slide.png" alt="Фен для волос Dyson Supersonic">
      </div>
      <div class="promo-slider__content content-wrapper">
        <a href="#" class="promo-slider__category">Фен для волос</a>
        <a href="#" class="promo-slider__title">Dyson Supersonic™</a>
        <p class="promo-slider__stock">По акции с чехлом</p>
        <ul class="promo-slider__advantages">
          <li>Быстрое высушивание волос</li>
          <li>Без экстремальных температур</li>
          <li>Разработан для различных типов волос</li>
        </ul>
        <div class="promo-slider__price">
          <p class="promo-slider__cost">29 900 ₽</p>
          <a href="#" class="promo-slider__btn button">Купить со скидкой</a>
        </div>
      </div>
    </li>
    <li class="promo-slider__item swiper-slide">
      <div class="promo-slider__img">
        <img class="cover" src="img/slide.png" alt="Фен для волос Dyson Supersonic">
      </div>
      <div class="promo-slider__content content-wrapper">
        <a href="#" class="promo-slider__category">Фен для волос</a>
        <a href="#" class="promo-slider__title">Dyson Supersonic™</a>
        <p class="promo-slider__stock">По акции с чехлом</p>
        <ul class="promo-slider__advantages">
          <li>Быстрое высушивание волос</li>
          <li>Без экстремальных температур</li>
          <li>Разработан для различных типов волос</li>
        </ul>
        <div class="promo-slider__price">
          <p class="promo-slider__cost">29 900 ₽</p>
          <a href="#" class="promo-slider__btn button">Купить со скидкой</a>
        </div>
      </div>
    </li>
  </ul>
  <div class="promo-slider__pagination swiper-pagination"></div>
  <div class="promo-slider__nav promo-slider__nav--prev button-nav button-nav--dark button-nav--prev" tabindex="0"></div>
  <div class="promo-slider__nav promo-slider__nav--next button-nav button-nav--dark button-nav--next" tabindex="0"></div>
</div>
