<div class="footer-info content-wrapper">
  <div class="footer-info__container">
    <p class="footer-info__text">
      <span>Изображения и тексты принадлежат The Dyson-shops</span>
      <span>Все фотоматериалы и тексты используются для демонстрации. Использование контента возможно только с разрешения www.dyson-shops.com.</span>
      <span>111524, город Москва, улица Электродная, дом 2 строение 29.</span>
      <span>ООО "Альфа Групп" ОГРН 1197746408925</span>
    </p>
    <div class="footer-info__contacts">
      <p class="footer-info__title">Служба поддержки</p>
      <a href="tel:+74957732285" class="footer-info__phone">+7 (495) 773 22 85</a>
    </div>
    <div class="footer-info__menu">
      <ul class="footer-info__list">
        <li class="footer-info__item">
          <a href="#" class="footer-info__link">Доставка и оплата</a>
        </li>
        <li class="footer-info__item">
          <a href="#" class="footer-info__link">Гарантия</a>
        </li>
        <li class="footer-info__item">
          <a href="#" class="footer-info__link">Контакты</a>
        </li>
        <li class="footer-info__item">
          <a href="#" class="footer-info__link">Техническая поддержка</a>
        </li>
      </ul>
    </div>
  </div>
</div>
