<div class="page-footer__menu main-nav main-nav--footer content-wrapper">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Фены</a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Стайлер</a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Пылесосы</a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Увлажнители</a>
    </li>
  </ul>
</div>
