<footer class="page-footer">
  <div class="page-footer__top">
    <include src="src/components/footer/footer-menu.html"></include>
    <include src="src/components/footer/footer-info.html"></include>
  </div>
  <div class="page-footer__bottom">
    <div class="page-footer__copyright content-wrapper">
      <div class="page-footer__copyright-container">
        <p class="page-footer__copyright-text">
          <span>©All Right Reserved. The</span>
          <a class="page-footer__copyright-link" href="mailto:dyson-shops.com">dyson-shops.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
