.product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
}

.product-info__top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  margin-bottom: 11px;

  @media(max-width: $tablet) {
    margin-bottom: 0;
  }
}

.product-info__article,
.product-info__availability {
  width: 50%;
  margin: 0 0 15px;
  padding: 0;

  @include font-proxima(18px, 1, 400, #999999);
}

.product-info__availability {
  padding-left: 17px;
}

.product-info__availability-status {
  position: relative;

  display: inline-block;
  vertical-align: baseline;

  padding-left: 40px;

  @media(max-width: $tablet) {
    padding-left: 30px;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 3px;

    width: 13px;
    height: 13px;

    content: "";
  }

  &--on {
    &::before {
      background-color: #ffcb2d;
    }
  }

  &--off {
    &::before {
      background-color: $black;
    }
  }
}

.product-info__parameters {
  width: 100%;
  padding-right: 24%;

  @media(max-width: $tablet) {
    padding-right: 0;
  }
}

.product-info__title {
  width: 100%;
  margin: 0 0 19px;
  padding: 0;

  @include font-proxima(18px, 1.2, 700, $black);

  @media(max-width: $tablet) {
    margin-bottom: 15px;
  }
}

.product-info__list {
  @include list-reset;

  width: 100%;
  margin-bottom: 20px;

  @media(max-width: $tablet) {
    margin-bottom: 0;
  }
}

.product-info__item {
  position: relative;

  display: inline-block;
  vertical-align: top;

  width: 100%;
  margin: 0 0 16px;
  padding: 0 50px 0 30px;

  @include font-proxima(15px, 16px, 400, #5d5d5d);

  @media(max-width: $tablet) {
    padding: 0 30px 0 15px;
  }

  &::before {
    position: absolute;
    left: 1px;
    top: 4px;

    width: 5px;
    height: 5px;
    border-radius: 50%;

    background-color: $fuchsia;

    content: "";
  }
}

.product-info__price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  margin-bottom: 8px;
  padding-left: 12px;
}

.product-info__old-cost {
  margin: 0 15px 0 15px;

  @include font-proxima(24px, 1.2, 400, $fuchsia);
  text-decoration: line-through;

  @media(max-width: $tablet) {
    margin: 0 15px 0 0;

    font-size: 21px;
  }
}

.product-info__cost {
  margin: 0;
  padding: 0;

  @include font-proxima(36px, 1.2, 700, $black);

  @media(max-width: $tablet) {
    font-size: 30px;
  }
}

.product-info__btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 10px 0;
  margin-bottom: 10px;
}

.product-info__btn {
  padding: 13px 19px;
  margin-bottom: 10px;
}
